<main class="w-100 m-auto form-container">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <app-bouncing-logo></app-bouncing-logo>

    <h1 class="h3 mb-3 fw-normal">Registrar-se</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control top-input"
        id="floatingInput"
        placeholder="email"
        formControlName="name"
      />
      <label for="floatingInput">Nome</label>
    </div>

    <div class="form-floating">
      <input
        type="email"
        class="form-control mid-input"
        id="floatingInput"
        placeholder="email"
        formControlName="email"
      />
      <label for="floatingInput">E-mail</label>
    </div>

    <div class="form-floating">
      <input
        type="password"
        class="form-control mid-input"
        id="floatingInput"
        placeholder="Senha"
        formControlName="password"
      />
      <label for="floatingInput">Senha</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control password-input"
        id="floatingInput"
        placeholder="Senha"
        formControlName="confirmPassword"
      />
      <label for="floatingInput">Confirmar Senha</label>
    </div>

    <button
      class="btn btn-primary w-100 mb-3"
      [disabled]="registerForm.invalid"
    >
      Registrar
    </button>

    <span>Já é usuário? <a href="/">Fazer Login</a></span>
  </form>
</main>
