<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="position-absolute" style="top: 7rem; min-width: 560px">
    <app-header></app-header>
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row gap-2 mx-2">
        <h3 class="pb-3" style="width: fit-content">
          {{ admin ? "Tarefas" : "Minhas Tasks" }}
        </h3>
        <div
          class="bg-primary rounded d-flex align-items-center justify-content-center icon edit"
          (click)="handleAddClick()"
        >
          <mat-icon>add</mat-icon>
        </div>
      </div>

      <div class="d-flex gap-2">
        <form class="overflow-visible">
          <mat-form-field class="overflow-visible">
            <mat-label class="overflow-visible">Filtrar Tarefas</mat-label>
            <select
              class="overflow-visible"
              matNativeControl
              [(ngModel)]="selectedFilter"
              name="filter"
              (ngModelChange)="handleFilterChange()"
            >
              @for (filter of filters; track filter) {
              <option class="overflow-visible" [value]="filter.value">
                {{ filter.viewValue }}
              </option>
              }
            </select>
          </mat-form-field>
        </form>

        <form class="overflow-visible" *ngIf="admin">
          <mat-form-field class="overflow-visible">
            <mat-label class="overflow-visible">Filtrar Emails</mat-label>
            <select
              class="overflow-visible"
              matNativeControl
              [(ngModel)]="selectedEmail"
              name="filter"
              (ngModelChange)="handleEmailFilterChange()"
            >
              <option class="overflow-visible" value="" selected>Todos</option>
              @for (email of uniqueArray; track email) {
              <option class="overflow-visible" [value]="email.customerEmail">
                {{ email.customerEmail }}
              </option>
              }
            </select>
          </mat-form-field>
        </form>
      </div>
    </div>

    <form action="" [formGroup]="form">
      <div class="form-floating my-4">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Filtrar..."
          formControlName="filter"
          (input)="handleFilterTextChange()"
        />
        <label for="floatingInput" class="d-flex"
          ><mat-icon>search</mat-icon> <span class="">Filtrar...</span></label
        >
      </div>
    </form>

    <div class="d-flex flex-column-reverse">
      <div ngbAccordion *ngFor="let task of tasks" class="accordion-b w-100">
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button
              ngbAccordionButton
              class="{{
                task.done
                  ? 'text-decoration-line-through '
                  : 'text-decoration-none '
              }}"
            >
              {{ task.title }}
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div
              ngbAccordionBody
              class="d-flex justify-content-between flex-row-reverse"
            >
              <ng-template>
                <div class="form-check text-start my-3 d-flex flex-column">
                  <div>
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="flex-check-default"
                      (click)="handleUpdateTaskDone(task)"
                      [checked]="task.done"
                    />

                    <label
                      class="form-check-label {{
                        task.done
                          ? 'text-decoration-line-through '
                          : 'text-decoration-none '
                      }}"
                      for="flex-check-default"
                      >{{ task.description }}</label
                    >
                  </div>
                  <div class="text-start" style="margin-left: -1.5rem">
                    {{ admin ? task.customerEmail : "" }}
                  </div>
                </div>
              </ng-template>

              <div
                class="d-flex align-items-center justify-content-center gap-2"
              >
                <div
                  class="bg-primary rounded d-flex align-items-center justify-content-center icon edit"
                  (click)="handleEditClick(task)"
                >
                  <mat-icon>edit</mat-icon>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="rounded d-flex align-items-center justify-content-center icon delete"
                    (click)="handleDeleteClick(task.id)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
