<div class="d-flex justify-content-center flex-column align-items-center">
  <app-header></app-header>

  <div
    ngbAccordion
    style="width: 55rem"
    *ngFor="let task of tasks"
    class="accordion-wrapper"
  >
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{ task.title }}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>{{ task.description }}</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
